@media (max-width:1400px) {
  .center{
    width: 96%;
    margin: 0px auto;
  }
}
@media (max-width:1300px) {
  .item_service{
    width: 420px;
    padding:0px 20px;
    height: 280px;
  }
  .item_service:not(:nth-child(2n)){
    margin-right: 50px;
  }
}
@media (max-width:1260px) {
  .myhpoto {
    width: 440px;
    height: 520px;
  }
  .auto_text_sub b{
    font-size: 42px;
}
.col:not(:nth-child(4n)) {
  margin-right: 40px;
}
}
@media (max-width:1150px) {
  .col:not(:nth-child(4n)) {
    margin-right: 30px;
  }
  .col,.content{
    width: 180px;
  }
  .myhpoto {
    width: 420px;
    height: 480px;
  }
  .animate_write{
    width: 55%;
  }
  .auto_text_sub b{
    font-size: 38px;
}
.auto_text_sub span{
  font-size: 32px;
}
.item_service{
  width: 380px;
  height: 260px;
}
.row_service_span p {
  font-size: 16px;
}
}

@media (max-width:1050px) {
.item_service{
  width: 540px;
  height: 300px;
  padding: 20px;
}
.item_service:nth-child(n){
  margin-right: 0px;
}
.row_service_span p {
  font-size: 18px;
}
}


@media (max-width:1000px) {
  .myhpoto {
    width: 400px;
    height: 440px;
  }
  .auto_text_sub b{
    font-size: 36px;
}
.auto_text_sub span{
  font-size: 30px;
}
.col:not(:nth-child(3n)) {
  margin-right: 30px;
}
}
@media (max-width:960px) {
  .onesection{
    flex-direction: column;
  }
  .animate_write {
    width: 80%;
    order: -2;
  }
  .overlay_main{
    order: -3;
    margin: 30px 0px;
  }
  .first_s{
    height: auto;
  }
  .myhpoto{
    width: 450px;
    margin-left: 0px;
    object-fit: cover;
    height: 560px;
  }
  .auto_text_sub b{
    font-size: 46px;
}
.auto_text_sub span{
  font-size: 36px;
}
.also_dont{
  display: none;
}
.footer_comp_2 form {
  width: 90%;
  padding: 40px;
}
.main_about_image {
  width: 90%;
}
.about_white_div{
  margin-left: -70%;
}
}
@media (max-width:850px) {
  .contact_companemtone{
    width: 30%;
  }
  .contact_companemtone h2 {
    font-size: 36px;
  }
  .auto_text_sub b {
    font-size: 40px;
}
.auto_text_sub span {
  font-size: 32px;
}
}
@media (max-width:750px) {
  .contact_companemtone{
    width: 30%;
  }
  .contact_companemtone h2 {
    font-size: 36px;
  }
  .auto_text_sub b {
    font-size: 34px;
}
.auto_text_sub span {
  font-size: 28px;
}
}
@media (max-width:600px) {
    .header_menu_main a{
      display: none;
    }
    .mobile_icon{
      opacity:1;
      position: absolute;
      right: 20px;
      z-index: 1000;
      top: 25px;
    }
    .myhpoto{
      margin-top: 30px;
      width: 380px;
      height: 500px;
    }
    .auto_text_sub b {
      font-size: 30px;
  }
  .auto_text_sub span {
    font-size: 25px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover !important;
    width: 320px !important;
    height: 220px !important;
  }
  .swiper-slide img {
    display: block;
    width: 320px !important;
    height: 220px !important;
    object-fit: fill;
}
.row .col .skill {
  width: 160px;
  height: 160px;
}
.content span{
  font-size: 18px;
}
}
@media (max-width:550px) {

  .row{
   justify-content: center;
   }
   .row .col .skill {
    width: 220px;
    height: 220px;
  }
  .content span{
    font-size: 24px;
  }
  .but_div a{
    font-size: 16px;
    padding: 10px 15px;
  }
}