@media (max-width:1400px) {
  .center{
    width: 96%;
    margin: 0px auto;
  }
}
@media (max-width:1300px) {
  .item_service{
    width: 420px;
    padding:0px 20px;
    height: 280px;
  }
  .item_service:not(:nth-child(2n)){
    margin-right: 50px;
  }
}
@media (max-width:1260px) {
  .myhpoto,.overlay{
    width: 440px;
    height: 520px;
  }
  .auto_text_sub b{
    font-size: 42px;
}
.col:not(:nth-child(4n)) {
  margin-right: 40px;
}
}
@media (max-width:1150px) {
  .col:not(:nth-child(4n)) {
    margin-right: 30px;
  }
  .col,.content{
    width: 180px;
  }
  .myhpoto .overlay{
    width: 420px;
    height: 480px;
  }
  .animate_write{
    width: 55%;
  }
  .auto_text_sub b{
    font-size: 38px;
}
.auto_text_sub span{
  font-size: 32px;
}
.item_service{
  width: 380px;
  height: 260px;
}
.row_service_span p {
  font-size: 16px;
}
}

@media (max-width:1050px) {
.item_service{
  width: 540px;
  height: 300px;
  padding: 20px;
}
.item_service:nth-child(n){
  margin-right: 0px;
}
.row_service_span p {
  font-size: 18px;
}
}


@media (max-width:1000px) {
  .myhpoto,.overlay {
    width: 400px;
    height: 440px;
  }
  .auto_text_sub b{
    font-size: 36px;
}
.auto_text_sub span{
  font-size: 30px;
}
.col:not(:nth-child(3n)) {
  margin-right: 30px;
}
}
@media (max-width:960px) {
  .onesection{
    flex-direction: column;
  }
  .animate_write {
    width: 80%;
    order: -2;
  }
  .overlay_main{
    order: -3;
    margin: 30px 0px;
  }
  .first_s{
    height: auto;
  }
  .myhpoto,.overlay{
    width: 450px;
    margin-left: 0px;
    object-fit: cover;
    height: 560px;
  }
  .auto_text_sub b{
    font-size: 46px;
}
.auto_text_sub span{
  font-size: 36px;
}
.also_dont{
  display: none;
}
.footer_comp_2 form {
  width: 90%;
  padding: 40px;
}
.main_about_image {
  width: 90%;
}
.about_white_div{
  margin-left: -70%;
}
}
@media (max-width:850px) {
  .contact_companemtone{
    width: 30%;
  }
  .contact_companemtone h2 {
    font-size: 36px;
  }
  .auto_text_sub b {
    font-size: 40px;
}
.auto_text_sub span {
  font-size: 32px;
}
}
@media (max-width:750px) {
  .contact_companemtone{
    width: 30%;
  }
  .contact_companemtone h2 {
    font-size: 36px;
  }
  .auto_text_sub b {
    font-size: 34px;
}
.auto_text_sub span {
  font-size: 28px;
}
}
@media (max-width:600px) {
    .header_menu_main a{
      display: none;
    }
    .mobile_icon{
      opacity:1;
      position: absolute;
      right: 20px;
      z-index: 1000;
      top: 25px;
    }
    .myhpoto,.overlay{
      margin-top: 30px;
      width: 380px;
      height: 500px;
    }
    .auto_text_sub b {
      font-size: 30px;
  }
  .auto_text_sub span {
    font-size: 25px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover !important;
    width: 320px !important;
    height: 220px !important;
  }
  .swiper-slide img {
    display: block;
    width: 320px !important;
    height: 220px !important;
    object-fit: fill;
}
.row .col .skill {
  width: 160px;
  height: 160px;
}
.content span{
  font-size: 18px;
}
.col:nth-child(2n){
  margin-right: 0px;
}
.skill:nth-child(2n){
  margin-right: 0px;
}
}
@media (max-width:580px) {
  .about_white_div {
    margin-left:-100%;
  }
  .main_about_image {
    width: 100%;
  }
  .private_info {
    margin-top: 0px;
  }
  .footer_menu_main {
    flex-direction: column;
  }
  .footer_comp_2 {
    width: 100%;
}
.footer_comp_2 form{
  width: 100%;
}
.contact_companemtone {
  width: 80%;
}

}
@media (max-width:550px) {
  .row{
   align-items: center;
   flex-direction: column;
   }
   .row .col .skill {
    width: 220px;
    height: 220px;
  }
  .content span{
    font-size: 24px;
  }
  .but_div a{
    font-size: 16px;
    padding: 10px 15px;
  }
  .row_service_span p {
    font-size: 14px;
}
.row_service_span h3 {
  margin-bottom: 0px;
}
.row_service span {
  margin-top: 5px;
}
.services_main{
  padding: 100px 50px;
}
.item_service{
  width:420px;
}

.about_white_div p{
  font-size: 16px;
  text-align: left;
}
.auto_text_sub b {
  font-size: 27px;
}
.col:nth-child(n){
  margin-right: 0px;
}
.skill:nth-child(n){
  margin-right: 0px;
}
}
@media (max-width:465px) {

   .row .col .skill {
    width: 180px;
    height: 180px;
  }
  .private_info span, .education span {
    font-size: 12px;
}
.contact_companemtone h2 {
  font-size: 32px;
}
.contact_companemtone p,
.contact_companemtone a {
  font-size: 14px;
}
  .content span{
    font-size: 20px;
  }
  .but_div a{
    font-size: 14px;
    padding: 10px 15px;
  }
  .row_service i {
    font-size: 26px;
}
.item_service{
  height: 280px;
}
  .row_service_span p {
    font-size: 12px;
}
.animate_write p,
.row_service_span p,
.about_white_div p{
  font-size: 12px;
}

.services_main{
  padding: 100px 30px;
}
.item_service{
  width:380px;
}
.myhpoto,.overlay {
  margin-top: 30px;
  width: 320px;
  height: 400px;
}
.auto_text_sub b {
  font-size: 27px;
}
.private_info {
  padding: 30px 0px;
}

}
@media (max-width:365px) {

  .row .col .skill {
   width: 170px;
   height: 170px;
 }
 .private_info span, .education span {
   font-size: 10px;
}
.contact_companemtone h2 {
 font-size: 28px;
}
.contact_companemtone p,
.contact_companemtone a {
 font-size: 12px;
}
 .content span{
   font-size: 18px;
 }
 .but_div a{
   font-size: 12px;
   padding: 10px 12px;
 }
 .row_service i {
   font-size: 24px;
}
.item_service{
 height: 260px;
 width: 300px;
}
 .row_service_span p {
   font-size: 10px;
}
.animate_write p,
.row_service_span p,
.about_white_div p{
 font-size: 10px;
}

.services_main{
 padding: 100px 20px;
}

.myhpoto,.overlay {
 margin-top: 30px;
 width: 300px;
 height: 360px;
}
.auto_text_sub b {
 font-size: 24px;
}
.private_info {
 padding: 30px 0px;
}
.swiper-slide img {
  width: 300px !important;
  height: 200px !important;
  object-fit: contain;
}
.swiper-slide {
  background-size: cover !important;
  width: 300px !important;
  height: 200px !important;
}
.about_white_div h2,
.services_main h2,
.portfolio_main h2

{
   font-size: 32px;
}
.row_service_span h3{
  font-size: 18px;
}
.footer_comp_2 form button{
  padding: 10px 15px;
  font-size: 12px;
}
}